.red
{
	color: #B72321;
}
#header
{
	padding-top: 30px;
}
h3
{
	text-align: center;
	color: #B72321;
	font-weight: bold;
}
body
{
	background-color: #c5efff;
	overflow-x: hidden; 
}
body > img
{
	margin-top:50px;
}
p{
	text-align: center;
}
td, th
{
	text-align: center;
}
.extensions
{
	width: 30px;
	display: inline;
}
.file_com
{
	background-color: #ccffcc;
}
.file_spe
{
	background-color: #ffffcc;
}
form
{
	color: #000090;
	border: 1px solid grey;
}
legend
{
	padding-top: 40px;
	padding-left: 10px;
	text-decoration: underline;
	color: #000090;
}
div form #etudiant
{
	background-color: #FFFFCC;
}
div form #parent
{
	background-color: #CCFFCC;
}